/* Font */
:root {
    --sl-font-system: 'Spotify Mix', sans-serif;
}

/* Site Title and Logo */
.site-title {
    gap: calc(0.25 * var(--sl-nav-gap));
}

.site-title span {
    font-family: 'Spotify Circular', sans-serif;
    font-weight: bold;
    color: var(--sl-color-accent);
}

:root[data-theme='dark'] .site-title span {
    color: var(--sl-color-accent-high);
}

/* Content & navbar */
:root {
    --sl-content-width: 60rem;
    --sl-sidebar-width: 20rem;
}

.social-icons svg {
    color: var(--sl-color-white);
}

/* Home Page Navbar & Background Effects */

[data-has-hero] header {
    /* border-bottom: 1px solid transparent; */
    /* background-color: transparent; */
    /* -webkit-backdrop-filter: blur(16px); */
    /* backdrop-filter: blur(16px); */
    /* background-color: rgba(24, 24, 24, 66%); */
    filter: url('/roughpaper.svg');

    background-color: unset;

    background-image: linear-gradient(to bottom, rgba(24, 24, 24, 88%), rgba(24, 24, 24, 0%));
}

[data-has-hero][data-theme='light'] header {
    /* background-color: rgba(0, 128, 53, 10%); */
    background-image: linear-gradient(to bottom, rgba(0, 128, 53, 55%), rgba(0, 128, 53, 0%));
}

[data-has-hero] .page {
    background:
        linear-gradient(215deg,
            var(--sl-custom-home-bg-color),
            transparent 40%),
        radial-gradient(var(--sl-custom-home-bg-color), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
        radial-gradient(var(--sl-custom-home-bg-color), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}