---
import {MadeBy, Copyright, PoweredBy, BuiltBy} from "../data/LyricifyLabels";
---
<div class="footer-container">
    <hr/>
    <div class="brand not-content">
        <img class="logo" src="/LyricifyIcon.png" alt="Darker gray Lyricify logo">
        <h1 class="brand-name">Lyricify</h1>
    </div>

    <div class="info-container">
        <div class="info-item" id="left">
            <p>
                {MadeBy[Astro.currentLocale]}
                <br/>
                {Copyright[Astro.currentLocale]}
            </p>
        </div>
        <div class="info-item" id="right">
            <p>
                {PoweredBy[Astro.currentLocale]}
                <br/>
                {BuiltBy[Astro.currentLocale]}
            </p>
        </div>
    </div>

</div>

<style>

    .footer-container {
        width: 100%;
        text-align: left;
        padding-top: 5rem;
    }

    .footer-container .brand {
        display: inline-block;
    }

    :root .footer-container .brand .logo {
        filter: none;
        width: 3rem;
        vertical-align: middle;
    }

    :root[data-theme="dark"] .footer-container .brand .logo {
        filter: grayscale(50%);
    }

    .footer-container .brand .brand-name {
        display: inline-block;
        vertical-align: middle;
    }

    .info-container {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-items: flex-start;
    }

    .info-container .info-item#left {
        text-align: inherit;
        flex: 1;
        order: 1;
    }

    .info-container .info-item#right {
        flex: 1;
        text-align: right;
        order: 2;
    }

    @media (max-width: 50rem) {
        .footer-container {
            text-align: center;
        }

        .info-container {
            flex-direction: column;
        }

        .info-container .info-item#right {
            text-align: inherit;
        }

    }
</style>
