---
import {MadeBy, Copyright, PoweredBy, BuiltBy} from '@data/LyricifyLabels';
import Adaptive from '@components/Adaptive.astro'
---
<div class="footer-container">
    <hr/>
    <div class="brand not-content">
        <img class="logo" src="/LyricifyIcon.png" alt="Darker gray Lyricify logo">
        <h1 class="brand-name"><b>Lyricify</b></h1>
    </div>

    <Adaptive mobile>
        <div class="info-item" id="left">
            <p>
                {MadeBy[Astro.currentLocale]}
                <br/>
                {Copyright[Astro.currentLocale]}
            </p>
        </div>
        <div class="info-item" id="right">
            <p>
                {PoweredBy[Astro.currentLocale]}
                <br/>
                {BuiltBy[Astro.currentLocale]}
            </p>
        </div>
    </Adaptive>

</div>

<style>

    .footer-container {
        width: 100%;
        text-align: left;
        padding-top: 5rem;
    }

    .footer-container .brand {
        display: inline-block;
    }

    :root .footer-container .brand .logo {
        filter: none;
        width: 3rem;
        vertical-align: middle;
    }

    :root[data-theme="dark"] .footer-container .brand .logo {
        filter: grayscale(50%);
    }

    .footer-container .brand .brand-name {
        display: inline-block;
        vertical-align: middle;
    }

    div#right {
        text-align: right;
    }

    @media (width < 50rem) {
        .footer-container {
            text-align: center;
        }

        div#right {
            text-align: inherit;
        }
    }
</style>
