---
// import type { Props } from '@astrojs/starlight/props';
import Adaptive from '@components/Adaptive.astro'
---

<div class="footer-container">
    <div class="brand not-content">
        <img class="logo" src="/LyricifyIcon.png" alt="Darker gray Lyricify logo"/>
        <h1 class="brand-name"><b>Lyricify</b></h1>
    </div>

    <div class="credits">
        <Adaptive mobile>
            <div class="info-item" id="left">
                <p>
                    {Astro.props.labels['lyricify.madeBy']}
                    <br/>
                    {Astro.props.labels['lyricify.copyright']}
                </p>
            </div>
            <div class="info-item" id="right">
                <p>
                    {Astro.props.labels['lyricify.poweredBy']}
                    <br/>
                    {Astro.props.labels['lyricify.writtenBy'].replace(/\[CONTRIBUTOR]/, 'TSAVPYN & fred913')}
                </p>
            </div>
        </Adaptive>
    </div>
</div>

<style>
    .footer-container {
        width: 100%;
        text-align: left;
        padding-top: 5rem;
    }

    .footer-container .brand {
        display: inline-block;
    }

    :root .footer-container .brand .logo {
        filter: none;
        width: 3rem;
        vertical-align: middle;
    }

    .footer-container .brand .brand-name {
        display: inline-block;
        vertical-align: middle;
    }

    div#right {
        text-align: right;
    }

    @media (width < 50rem) {
        .footer-container {
            text-align: center;
        }

        div#right {
            text-align: inherit;
        }
    }

    .footer-container .credits {
        margin-top: 1rem;
    }

    p {
        line-height: 2rem;
    }
</style>
